
@{
    ViewData["Title"] = "ConfirmBook";
}

<div class="alert alert-success">
    <strong>Success!</strong> Your booking:
    <div class="row">
        <div class="col-sm-3">
            <h3>From: <span class="label label-default">@ViewBag.depart</span></h3>
        </div>
        <div class="col-sm-3">
            <h3>To: <span class="label label-default">@ViewBag.arrive</span></h3>
        </div>
    </div>
    <h3>Passangers:</h3>
    <button type="button" class="btn btn-primary">Adults <span class="badge">@ViewBag.adults</span></button>
    <button type="button" class="btn btn-success">Youths <span class="badge">@ViewBag.youths</span></button>
    <button type="button" class="btn btn-danger">Children <span class="badge">@ViewBag.children</span></button>
</div>

<h2>ConfirmBook</h2>
<p>@ViewBag.depart</p>
<h3>Dear employers:</h3>
<h3>below are the IDs of schedules in this juerny, please use "ScheduleManager@gmail.com" to check the changes of database of Flight_Schedules(click the Flight_Schedules tab in the navi bar)</h3>
<p>@ViewBag.tripList</p>
<p>@ViewBag.tripListReturn</p>