@page
@model LoginNonChildWindowModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}

<!--注：不能引用下列Libary,不然会导致页面显示异常-->
@*<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>*@

@*<h2>@ViewData["Title"]</h2>*@

<script>
    $(document).ready(function () {
        //对于post的ajax请求的方法,比get请求要复杂些
        $("#loginSubmit").click(function () {
            $.ajax({
                type: 'POST',
                url: "/Identity/Account/LoginNonChildWindow?handler=Validate",

                //为了Post的method而设
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                //
                data: { 'Email': $("#email").val(), 'Password': $("#password").val() },
                success: function (result) {
                    //如果登陆成功则刷新页面,"<h2>ExternalLoginSuceed</h2>"在这里作为登陆成功(登陆成功就会跳转到ExternalLoginSuceed页面)而需要页面刷新的信号
                    if (result.startsWith("<h2>ExternalLoginSuceed</h2>")) {
                        location.reload();
                        //$("#LoginToPartialViewDisplay").html(result);
                    } else {
                        $("#LoginToPartialViewDisplay").html(result);
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });

        $("#registerNewUser").click(function () {
            $.get('/Identity/Account/RegisterNonChildWindow?handler=RegisterIndexPartialView', function (result) {
                $('#LoginToPartialViewDisplay').html(result);
            });
        });

        $("#forgotPassword").click(function () {
            $.get('/Identity/Account/ForgotPassword?handler=ForgotPasswordIndex', function (result) {
                $('#LoginToPartialViewDisplay').html(result);
            });
        });
    });
</script>

<script>
        //该变量可以操控窗口的关闭和开启,不同partial view之间都可以调用
        var newWindow;

        function PopupCenter(url, title, w, h) {
            document.getElementById("calenderOverlay").style.display = "block";
            // Fixes dual-screen position                         Most browsers      Firefox
            var dualScreenLeft = window.screenLeft !== undefined ? window.screenLeft : window.screenX;
            var dualScreenTop = window.screenTop !== undefined ? window.screenTop : window.screenY;

            var width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
            var height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;

            var left = ((width / 2) - (w / 2)) + dualScreenLeft;
            var top = ((height / 2) - (h / 2)) + dualScreenTop;

            if (checkMobile()) {
                //如果是手机浏览器,则转向手机浏览器的登陆页面
                newWindow = window.open('/Identity/Account/ExternalLogin', title, 'scrollbars=yes, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
            } else {
                newWindow = window.open(url, title, 'scrollbars=yes, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
            }

            // Puts focus on the newWindow
            if (window.focus) {
                newWindow.focus();
            }

            function checkIfWinClosed(intervalID) {
                if (newWindow.closed) {
                    window.location.reload(false);
                    clearInterval(intervalID);
                }
            }
            var interval = setInterval(function () {
                checkIfWinClosed(interval);
            }, 1000);

            function checkMobile() {
                var check = false;
                (function (a) { if (/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino/i.test(a) || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(a.substr(0, 4))) check = true; })(navigator.userAgent || navigator.vendor || window.opera);
                return check;
            }
        }

        function closeLogin() {
            newWindow.close();
        }
    </script>

<div class="container">
    <div class="col-md-3">
        <section>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {

                    <div class="col-md-1 col-md-offset-1">
                        <p>
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                if (@provider.Name == "Google")
                                {
                                    @*<button type="submit" class="btn btn-default" style="width:200px" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                            <img src="~/images/GoogleIcon.png" class="pull-left" style="width:23px;height:23px;" />@provider.DisplayName
                                        </button>*@

                                    <button type="button" onclick="PopupCenter('/Home/FaceBookLoginChildWindow','xtf','390','600')" class="btn btn-default" style="width:200px" title="Log in using your @provider.DisplayName account">
                                        <img src="~/images/GoogleIcon.png" class="pull-left" style="width:23px;height:23px;" />Login with @provider.DisplayName
                                    </button>
                                }
                                else if (@provider.Name == "Facebook")
                                {
                                    <button type="button" onclick="PopupCenter('/Home/FaceBookLoginChildWindow2','xtf','590','600')" class="btn btn-default" style="width:200px" title="Log in using your @provider.DisplayName account">
                                        <img src="~/images/icons8-facebook-48.png" class="pull-left" style="width:23px;height:23px;" />Login with @provider.DisplayName
                                    </button>
                                }
                            }
                        </p>
                    </div>

                }
            }
        </section>
    </div>
</div>

<div class="container">
    <div class="col-md-3">
        <section>
            <div>
                <h4>Use a local account to log in.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" id="email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" id="password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>

                <div>
                    <p>
                        @*<a asp-page="./ForgotPassword">Forgot your password?</a>*@
                        <a id="forgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <button id="registerNewUser" class="btn btn-default">Register as a new user</button>
                    </p>
                </div>
            </div>
            <div>
                <button id="loginSubmit" class="btn btn-default">Log in</button>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


